.main-header-banner {
    background-color: #007bff;
    color: #ffffff;
    height: 80px;
    padding: 0 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 32px;

    .header-content-wrapper {
        max-width: 1200px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .site-title {
        color: #ffffff;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: -0.5px;
        display: flex;
        align-items: center;
        gap: 10px; /* Отступ между иконкой 📚 и текстом */
        cursor: default;
    }
}

.book-card__wrapper {
    display: grid;
    grid-gap: 8px;
}
